PORT=3000
DEST_PG_HOST=localhost
DEST_PG_PORT=5432
DEST_PG_DATABASE=powerbi
DEST_PG_USER=postgres
DEST_PG_PASSWORD=
ENCRYPT_KEY=change-this-to-a-32-char-secret!!
JWT_SECRET=change-this-jwt-secret-32chars-min!
APP_USER=admin
APP_PASSWORD=troque-esta-senha
